# Requred to validate the webhook
WEBHOOK_PREFIX=the-example-path-prefix
WEBHOOK_TOKEN=the-example-token-from-gitlab

GITLAB_INSTANCE=https://gitlab.com/
GITLAB_REPO=gitlab-organization/vdo_test_project
GITLAB_TOKEN=the-example-token

ARQAN_SERVICES_API=http://51.250.88.251:8000
ARQAN_USERNAME=demo
ARQAN_PASSWORD=demo

ARQAN_PLATFORM=web
